* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    /*color: #3f46f4;*/
    /*font-family: "Spo"*/
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

section {
    width: 100%;
    position: relative;
}



.logo-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner {
    color: rebeccapurple;
    font-size: 45px;
    font-weight: 900;
}
.member-btn {
    margin: 10px;
    font-size: 13px;
}

button {
    all: unset;
    cursor : pointer;
}



@media only screen and (min-width: 1200px){
     .inner {
         max-width: 1200px;
     }
}

#red {
    color: red;
}


#msg {
    color: darkblue;
}

