<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <header>
        <div class="inner">
            <div class="head-container">
                <div><button class="member-btn" onclick="location.href='login'">로그인</button></div>
                <div><button class="member-btn" onclick="location.href='join'">회원가입</button></div>
                <div><button class="member-btn" onclick="location.href='itemCreate'">상품등록</button></div>
            </div>
            <div class="logo-container">
                <div><p class="banner">GRAY SHOP</p></div>
            </div>
        </div>
    </header>
    <section></section>
    <footer></footer>
</body>
</html>

