<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:inline="javascript">
        function userCheck(){
           var data = document.getElementById('userId').value;
           var sendData = 'data='+data;

           // var sendData = 'name=강아지';
            $.ajax({
                url:'/join/check'
                , method : 'POST'
                , data: sendData
                , success :function(text){
                    alert("성공"+text);
                }
            })


            alert("123");
        }
    </script>
<body>


<form role="form" action="/join/new" method="post" th:object="${memberForm}">
    <input id="userId" th:field="*{user_id}" type="text" placeholder="아이디"> <input id="check" type="button" value="중복확인" onclick="userCheck()"/> <br>
    <p id="msg"></p> <br>
    <input th:field="*{user_name}" type="text" placeholder="이름"> <br>
    <button type="submit">회원가입</button>
</form>

</body>


</html>